.menu .contents .home-content
    .options
        border-spacing 15px 10px
        
    .audio-toggle
        img
            &.audio-off
                display block
                
            &.audio-on
                display none

        &.is-active
            img
                &.audio-on
                    display block

                &.audio-off
                    display none
